In [1]:
import pandas as pd
import requests
import json
import time
#import prettytable

api_key="8074dc66f62543f89cb5feb0803ce64a"

#series id taken from https://www.bls.gov/help/hlpforma.htm#LA 
#choosing local area unemployment (LA), seasonalally adjusted (S), state data (area type code = A)

#                      1         2
#Series ID    12345678901234567890
#	Positions    Value            Field Name
#	1-2          LA               Prefix
#	3            U                Seasonal Adjustment Code
#	4-18         CN2810700000000  Area Code
#	19-20        03               Measure Code


#area_type_code	areatype_text
#A	Statewide
#B	Metropolitan areas
#C	Metropolitan divisions
#D	Micropolitan areas
#E	Combined areas
#F	Counties and equivalents
#G	Cities and towns above 25,000 population
#H	Cities and towns below 25,000 population in New England
#I	Parts of cities that cross county boundaries
#J	Multi-entity small labor market areas
#K	Intrastate parts of interstate areas
#L	Balance of state areas
#M	Census regions
#N	Census divisions


#Indicates the unit of measurement:

#06 Labor force,
#05 Employment,
#04 Unemployment, and
#03 Unemployment rate.


#retrieve local area unemployement area code data
file_area_codes = "./Resources/bls_local_area_code_data.txt"

df_area_codes = pd.read_csv(file_area_codes, sep='\t')

#create dataframe that pulls only state data (area_type_code = A, from BLS site)
df_state_area_codes=df_area_codes.loc[df_area_codes["area_type_code"]=="A"]

#create list to only pull 03(rate) and 06(labor pool)
measure_codes=["03","06"]

#initialize dataframe to hold 20 years of state unemployment data
df_state_unemployment_data = pd.DataFrame(columns=['footnotes', 'latest', 'period', 'periodName', 'value', 'year','area_code', 'measurecode'])

In [2]:
# cycle through measure codes

for ms_code in measure_codes:

# cycle through state data (includes PR & DC)

    for i in range(len(df_state_area_codes["area_code"])):  
        url = f"https://api.bls.gov/publicAPI/v2/timeseries/data/LAS{df_state_area_codes['area_code'][i]}{ms_code}?startyear=2000&endyear=2019&registrationkey={api_key}"
      
        ud=requests.get(url).json()
        df_state_data=pd.DataFrame(ud['Results']['series'][0]['data'])
        df_state_data["area_code"] = df_state_area_codes['area_code'][i]
        df_state_data["measurecode"] = ms_code
        
        df_state_unemployment_data=df_state_unemployment_data.append(df_state_data,ignore_index=True, sort=False)

In [3]:
df_state_unemployment_data

,footnotes,latest,period,periodName,value,year,area_code,measurecode
0,"[{'code': 'P', 'text': 'Preliminary.'}]",true,M05,May,3.7,2019,ST0100000000000,03
1,[{}],NaN,M04,April,3.8,2019,ST0100000000000,03
2,[{}],NaN,M03,March,3.7,2019,ST0100000000000,03
3,[{}],NaN,M02,February,3.7,2019,ST0100000000000,03
4,[{}],NaN,M01,January,3.8,2019,ST0100000000000,03
5,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M12,December,3.8,2018,ST0100000000000,03
6,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M11,November,3.8,2018,ST0100000000000,03
7,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M10,October,3.8,2018,ST0100000000000,03
8,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M09,September,3.8,2018,ST0100000000000,03
9,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M08,August,3.9,2018,ST0100000000000,03
10,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M07,July,4.0,2018,ST0100000000000,03
11,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M06,June,4.1,2018,ST0100000000000,03
12,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M05,May,4.1,2018,ST0100000000000,03
13,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M04,April,4.1,2018,ST0100000000000,03
14,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M03,March,4.0,2018,ST0100000000000,03
15,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M02,February,4.0,2018,ST0100000000000,03
16,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M01,January,3.9,2018,ST0100000000000,03
17,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M12,December,3.9,2017,ST0100000000000,03
18,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M11,November,3.9,2017,ST0100000000000,03
19,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M10,October,3.9,2017,ST0100000000000,03
20,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M09,September,4.0,2017,ST0100000000000,03
21,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M08,August,4.1,2017,ST0100000000000,03
22,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M07,July,4.2,2017,ST0100000000000,03
23,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M06,June,4.3,2017,ST0100000000000,03
24,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M05,May,4.5,2017,ST0100000000000,03
25,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M04,April,4.7,2017,ST0100000000000,03
26,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M03,March,5.0,2017,ST0100000000000,03
27,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M02,February,5.2,2017,ST0100000000000,03
28,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M01,January,5.5,2017,ST0100000000000,03
29,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M12,December,5.7,2016,ST0100000000000,03
...,...,...,...,...,...,...,...,...
24202,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M06,June,1322721,2002,ST7200000000000,06
24203,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M05,May,1321216,2002,ST7200000000000,06
24204,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M04,April,1321489,2002,ST7200000000000,06
24205,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M03,March,1324788,2002,ST7200000000000,06
24206,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M02,February,1332277,2002,ST7200000000000,06
24207,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M01,January,1295777,2002,ST7200000000000,06
24208,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M12,December,1293898,2001,ST7200000000000,06
24209,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M11,November,1290769,2001,ST7200000000000,06
24210,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M10,October,1285983,2001,ST7200000000000,06
24211,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M09,September,1280466,2001,ST7200000000000,06
24212,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M08,August,1274661,2001,ST7200000000000,06
24213,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M07,July,1269460,2001,ST7200000000000,06
24214,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M06,June,1265332,2001,ST7200000000000,06
24215,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M05,May,1263198,2001,ST7200000000000,06
24216,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M04,April,1263270,2001,ST7200000000000,06
24217,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M03,March,1264831,2001,ST7200000000000,06
24218,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M02,February,1267100,2001,ST7200000000000,06
24219,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M01,January,1269141,2001,ST7200000000000,06
24220,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M12,December,1271642,2000,ST7200000000000,06
24221,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M11,November,1274914,2000,ST7200000000000,06
24222,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M10,October,1279127,2000,ST7200000000000,06
24223,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M09,September,1284099,2000,ST7200000000000,06
24224,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M08,August,1289562,2000,ST7200000000000,06
24225,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M07,July,1294959,2000,ST7200000000000,06
24226,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M06,June,1299495,2000,ST7200000000000,06
24227,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M05,May,1302710,2000,ST7200000000000,06
24228,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M04,April,1303257,2000,ST7200000000000,06
24229,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M03,March,1301189,2000,ST7200000000000,06
24230,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M02,February,1297284,2000,ST7200000000000,06
24231,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M01,January,1292719,2000,ST7200000000000,06

In [9]:


df_state_unemployment_data["periodmonth"]=df_state_unemployment_data["period"].str[-2:]
df_state_unemployment_data["periodyearmonth"]=df_state_unemployment_data["year"]+df_state_unemployment_data["period"].str[-2:]

,footnotes,latest,period,periodName,value,year,area_code,measurecode,periodmonth,periodyearmonth
0,"[{'code': 'P', 'text': 'Preliminary.'}]",true,M05,May,3.7,2019,ST0100000000000,03,05,201905
1,[{}],NaN,M04,April,3.8,2019,ST0100000000000,03,04,201904
2,[{}],NaN,M03,March,3.7,2019,ST0100000000000,03,03,201903
3,[{}],NaN,M02,February,3.7,2019,ST0100000000000,03,02,201902
4,[{}],NaN,M01,January,3.8,2019,ST0100000000000,03,01,201901
5,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M12,December,3.8,2018,ST0100000000000,03,12,201812
6,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M11,November,3.8,2018,ST0100000000000,03,11,201811
7,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M10,October,3.8,2018,ST0100000000000,03,10,201810
8,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M09,September,3.8,2018,ST0100000000000,03,09,201809
9,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M08,August,3.9,2018,ST0100000000000,03,08,201808
10,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M07,July,4.0,2018,ST0100000000000,03,07,201807
11,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M06,June,4.1,2018,ST0100000000000,03,06,201806
12,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M05,May,4.1,2018,ST0100000000000,03,05,201805
13,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M04,April,4.1,2018,ST0100000000000,03,04,201804
14,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M03,March,4.0,2018,ST0100000000000,03,03,201803
15,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M02,February,4.0,2018,ST0100000000000,03,02,201802
16,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M01,January,3.9,2018,ST0100000000000,03,01,201801
17,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M12,December,3.9,2017,ST0100000000000,03,12,201712
18,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M11,November,3.9,2017,ST0100000000000,03,11,201711
19,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M10,October,3.9,2017,ST0100000000000,03,10,201710
20,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M09,September,4.0,2017,ST0100000000000,03,09,201709
21,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M08,August,4.1,2017,ST0100000000000,03,08,201708
22,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M07,July,4.2,2017,ST0100000000000,03,07,201707
23,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M06,June,4.3,2017,ST0100000000000,03,06,201706
24,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M05,May,4.5,2017,ST0100000000000,03,05,201705
25,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M04,April,4.7,2017,ST0100000000000,03,04,201704
26,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M03,March,5.0,2017,ST0100000000000,03,03,201703
27,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M02,February,5.2,2017,ST0100000000000,03,02,201702
28,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M01,January,5.5,2017,ST0100000000000,03,01,201701
29,"[{'code': 'B', 'text': 'Reflects revised popul...",NaN,M12,December,5.7,2016,ST0100000000000,03,12,201612
...,...,...,...,...,...,...,...,...,...,...
24202,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M06,June,1322721,2002,ST7200000000000,06,06,200206
24203,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M05,May,1321216,2002,ST7200000000000,06,05,200205
24204,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M04,April,1321489,2002,ST7200000000000,06,04,200204
24205,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M03,March,1324788,2002,ST7200000000000,06,03,200203
24206,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M02,February,1332277,2002,ST7200000000000,06,02,200202
24207,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M01,January,1295777,2002,ST7200000000000,06,01,200201
24208,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M12,December,1293898,2001,ST7200000000000,06,12,200112
24209,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M11,November,1290769,2001,ST7200000000000,06,11,200111
24210,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M10,October,1285983,2001,ST7200000000000,06,10,200110
24211,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M09,September,1280466,2001,ST7200000000000,06,09,200109
24212,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M08,August,1274661,2001,ST7200000000000,06,08,200108
24213,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M07,July,1269460,2001,ST7200000000000,06,07,200107
24214,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M06,June,1265332,2001,ST7200000000000,06,06,200106
24215,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M05,May,1263198,2001,ST7200000000000,06,05,200105
24216,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M04,April,1263270,2001,ST7200000000000,06,04,200104
24217,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M03,March,1264831,2001,ST7200000000000,06,03,200103
24218,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M02,February,1267100,2001,ST7200000000000,06,02,200102
24219,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M01,January,1269141,2001,ST7200000000000,06,01,200101
24220,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M12,December,1271642,2000,ST7200000000000,06,12,200012
24221,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M11,November,1274914,2000,ST7200000000000,06,11,200011
24222,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M10,October,1279127,2000,ST7200000000000,06,10,200010
24223,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M09,September,1284099,2000,ST7200000000000,06,09,200009
24224,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M08,August,1289562,2000,ST7200000000000,06,08,200008
24225,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M07,July,1294959,2000,ST7200000000000,06,07,200007
24226,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M06,June,1299495,2000,ST7200000000000,06,06,200006
24227,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M05,May,1302710,2000,ST7200000000000,06,05,200005
24228,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M04,April,1303257,2000,ST7200000000000,06,04,200004
24229,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M03,March,1301189,2000,ST7200000000000,06,03,200003
24230,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M02,February,1297284,2000,ST7200000000000,06,02,200002
24231,"[{'code': 'Z', 'text': 'Reflects a new seasona...",NaN,M01,January,1292719,2000,ST7200000000000,06,01,200001

In [ ]:
#headers = {'Content-type': 'application/json'}
#data = json.dumps({"seriesid": state_series_03_1,"startyear":"2000", "endyear":"2019","registrationkey":"8074dc66f62543f89cb5feb0803ce64a"})
#state_unemp=requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers).json()

#q=requests.get('https://api.bls.gov/publicAPI/v2/timeseries/data/LAUCN281070000000003?startyear=2010&endyear=2014&area_type_code=A').json()